html {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}


body{
  margin: 0;
  padding: 0;
  font-family: 'FuturaPT';
  background-color: #F9F9F9;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}


img{
  object-fit: cover;
  vertical-align: middle;
}