.site-footer{
  padding-top: 61px;
  padding-bottom: 69px;
  background-color: #F3F3F3;
}

.site-footer__wrapper{
  display: flex;
}

.site-footer__logo-user{
  margin-right: 60px;

}

.site-footer__logo-link{
  opacity: 1;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.6;
  }
}



.footer-nav-bar{
  display: flex;
  width: 288px;
  justify-content: space-between;
  margin-right: 157px;
}


.footer-nav-bar__list{
  margin: 0;
  padding: 0;
  list-style: none;

  
}

.footer-nav-bar__item{
  width: 115px;
  margin-bottom: 14px;
  
}

.footer-nav-bar__item-link{
  font-weight: 500;
  font-size: normal;
  font-size: 16px;
  line-height: 20px;
  color:#333;
  text-decoration: none;


  &:hover{
    color:#FFBD54;

  }

  &:active{
    color:#333;
    opacity: 0.7;
  }
}

.site-footer__top{
  display: flex;
}

.site-footer__time-user{
  display: flex;
  flex-direction: column;
  width: 125px;
  margin-right: 140px;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    background-image:url("../images/kalendar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    top:1px;
    left: -23px;

  }
}

.site-footer__time{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color:#333;
  margin-bottom: 3px;
}

.site-footer__address-link{
  width: 150px;
  text-decoration: none;
  color:#333;
  margin-right: 102px;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    background-image: url("../images/house.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    top:0px;
    left:-24px;
  }

}

.site-footer__address{
  font-style: normal;
}

.site-footer__user{
  width: 113px;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    background-image: url("../images/phone.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    top:0px;
    left:-24px;
  }
}

.site-footer__number-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color:#333;
  text-decoration: none;
  
}