.site-header__top{
  display: flex;
  align-items: center;
  padding: 14px 0;
}

.site-header__address-link{
  width: 218px;
  margin-left:221px;
  margin-right: 110px;
  text-decoration: none;
}

.site-header__address{
  margin: 0;
  padding: 0;
  
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  position: relative;

  &::before{
    content:"";
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url("../images/house.svg");
    position: absolute;
    background-repeat: no-repeat;
    top:1px;
    left: -20px;
  }
}

.site-header__user{
  position: relative;
  margin-right: 119px;

  &::before{
    content:"";
    width: 13px;
    height: 13px;
    position: absolute;
    background-image: url("../images/phone.svg");
    top: 1px;
    left:-20px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.site-header__number-link{
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color:#333;
  text-decoration: none;
  

  &:hover{
    color:#FFBD54;
  }

  &:active{
    color:#333;
    opacity: 0.6;
  }
}


.site-header__number-link:nth-child(2){
  margin: 0 22px;
  position: relative;

  &::before{
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    background-image: url("../../images/Ellipse\ 5.svg");
    background-repeat: no-repeat;
    top: 8px;
    left: -14px;

  }

  &::after{
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    background-image: url("../../images/Ellipse\ 5.svg");
    background-repeat: no-repeat;
    top: 8px;
    right: -14px;

  }
}


.site-header__time-user{
  position: relative;

  &::before{
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    background-image: url("../../images/kalendar.svg");
    background-repeat: no-repeat;
    top: 2px;
    left: -20px;
  }
}

.site-header__time{
  margin-right: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color:#333;
}

.site-header__times{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color:#333;
}


.site-header__inner{
  display: flex;
  padding: 20px 0;
  margin-bottom: 153px;
  background-color: #fff;
  position: relative;
}

.site-header__logo-wrapper{
  position: absolute;
  z-index: 2;
  top: -18px;
  left: 2px;
}


.nav-bar{
  position: relative;
  margin-right: 195px;
  margin-left: 331px;

  &::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../../images/baliq.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: -30px;
  }
}

.nav-bar__list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

}

.nav-bar__item{
  margin-right: 55px;
  
  &:nth-child(6){
    margin-right: 0;
  }

}

.nav-bar__item:nth-child(1){
  border-bottom: 3px solid transparent;

  &:hover{
    border-bottom: 3px solid #F4FFAD;
  }

  &:active{
    border-bottom: 3px solid #F4FFAD;
    opacity: 0.6;
  }
}

.nav-bar__item:nth-child(2){
  border-bottom: 3px solid transparent;

  &:hover{
    border-bottom: 3px solid #F4FFAD;
  }

  &:active{
    border-bottom: 3px solid #F4FFAD;
    opacity: 0.6;
  }
}

.nav-bar__item:nth-child(3){
  border-bottom: 3px solid transparent;

  &:hover{
    border-bottom: 3px solid #F4FFAD;
  }

  &:active{
    border-bottom: 3px solid #F4FFAD;
    opacity: 0.6;
  }
}

.nav-bar__item:nth-child(4){
  border-bottom: 3px solid transparent;

  &:hover{
    border-bottom: 3px solid #F4FFAD;
  }

  &:active{
    border-bottom: 3px solid #F4FFAD;
    opacity: 0.6;
  }
}

.nav-bar__item:nth-child(5){
  border-bottom: 3px solid transparent;

  &:hover{
    border-bottom: 3px solid #F4FFAD;
  }

  &:active{
    border-bottom: 3px solid #F4FFAD;
    opacity: 0.6;
  }
}

.nav-bar__item:nth-child(6){
  border-bottom: 3px solid transparent;

  &:hover{
    border-bottom: 3px solid #F4FFAD;
  }

  &:active{
    border-bottom: 3px solid #F4FFAD;
    opacity: 0.6;
  }
}

.nav-bar__item-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color:#333;

}



.site-header__link-wrappar{
  position: relative;

  &::before{
    content: "";
    position: absolute;
    background-image: url("../images/pet.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    top: -5px;
    left:-33px;
  }
}

.site-header__link{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color:#333;
  text-decoration: none;
}